* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.fundo {
  height: 130vh;
  width: 100%;
  background-image: url("/img/Rectangle\ 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.container-conteudo{
    padding-top: 70px;
    padding-left: 40px;
}

@media (min-width: 1200px) {
  .fundo{
    height: 130vh;
  }
}
@media (min-width: 900px) {
  .fundo{
    height: 170vh;
  }
}
@media (min-width: 700px) {
  .fundo{
    height: 180vh;
  }
}
@media (min-width: 500px) {
  .fundo{
    height: 190vh;
  }
}
@media (min-width: 300px) {
  .fundo{
    height: 230vh;
  }
}